.required{
    color:rgba(255, 60, 0, 0.788);
    font-weight: bold;
}
.file_preview{
    min-width: 100px;
    max-width: 500px;
    border: 1px solid black;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}
.no-margin-top{
    margin-top: 0px !important;
}
.no-margin-left{
    margin-left: 0px !important;
}
.no-margin-right{
    margin-right: 0px !important;
}

.list-group{
    min-height: 100px;
    border: 1px solid #9c9a9acf;
    border-radius: 5px;
    padding: 5px;
}

.button-add{
    float: right;
}

.spec-header{
    margin-left: 10px;
    background-color: rgb(189, 189, 189);
    padding: 2px;
}
.spec-header h1,h2,h3,h4,h5,h6{
    margin-left: 5px;
}